# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# LightRAG Storage
rag_storage/
working_dir/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
rag_env/


!env.example
